@charset "UTF-8";

body {
  background-color: orangered;
  text-align: center;
  margin: auto;
  justify-content: center;
}

input {
  width: 20px;
  height: 20px;
  display: inline-block;
  color: black;
  margin: 1px;
  padding: 2px;
  text-align: center;
  font-weight: bolder;
  border-color: grey;

}

div {
  display: inline-block;
  width: 100%;
  margin: 0px auto;
}

.nulo {
  background-color: orangered;
  border-color: orangered;
  box-shadow: none;
  border-style: double;
  text-decoration: none;
}

li {
  list-style-type: decimal;
}

button {
  cursor: pointer;
}
