@charset "UTF-8";



*{
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #ebe5c5;
}



header {
    background-color: #819ecc;
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);

}


main {
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

main img{
    width: 100%;
}


main h1 {
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-weight: normal;
    font-size: 1.2em;
    text-indent: 8px;
}

main p {
    text-align: justify;
    padding: 15px 0px;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    font-weight: bolder;
}


p > #logo{
    width: 20%;
    padding: 0px;
}

#certo{
    color: green;
    font-weight: bolder
}

#errada {
    color: red;
    font-weight: bolder;
}

article > h2 {
    color: red;
}

#screen {
    width: 100%;
    text-align: center;
    margin: 0px auto;
}




a {
    display: flex;
    justify-content: center;
}

a > img {
    width: 70px;
}