@charset 'UTF-8';

body {

    background: #C33764; 
    background: -webkit-linear-gradient(to right, #1D2671, #C33764); 
    background: linear-gradient(to right, #1D2671, #C33764);

    color: white;
    font-family: Arial, Helvetica, sans-serif;

    min-height: 90vh;
    display: flex;
}

main {
    margin: auto;
}

h1, h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.equipe , p{
    text-align: center;
}

.prof {
    text-align: right;
}
img {
    border-radius: 50%;
    width: 220px;
}


button { 
    color: black;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

a {
    text-decoration: none;
    color: white;
}
