@charset 'UTF-8';

@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('../font/PressStart2P-Regular.ttf');
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 20px;
  min-width: auto;
  max-width: auto;
  margin: auto;
  margin-bottom: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fbe599;

  min-height: 90vh;
  display: flex;
}

main {
  margin: auto;
}

h1 {
  text-align: center;
  font-family: 'PressStart2P-Regular', monospace;
  width: fit-content;
  width: auto;
}

div {
  text-align: center;
  margin: auto;
}

p {
  text-align: center;
}

#logo {
  width: 250px;
}


.info {
  background-color: none;
  width: 45px;
  margin: 1px auto;
  text-align: left;
}
.button1 {
  font-size: 100%;
  font-family: 'PressStart2P-Regular';
  height: 60px;
  width: 225px;
  border-radius: 20px;
  background-color: #eab1b1;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

.button1:hover {
  background-color: rgb(252, 255, 80);
}

.button2 {
  font-size: 70%;
  font-family: 'PressStart2P-Regular';
  height: 50px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  background-color: #c4c4c4;
  border-color: black;
  border-style: solid;
  cursor: pointer;
}

.button2:hover {
  background-color: tomato;
}

.button3 {
  height: 50px;
  width: 155px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  background-color: #ffffff;
  border-color: black;
  border-style: solid;
  cursor: pointer;
}


.button3:hover {
  background-color: rgb(68, 68, 182);
  cursor: pointer;
}

